body {
  /*background-color: #0B76E6;*/
  background-image: url("img/bakgrunn/helvete.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.boks{
  background-color: #1515147E;
  /*border: 3px solid black;*/
  border-radius: 125px;
}

.title{
  padding-top: 0.5em;
  color: white;
}

#figur {
  width:10em;
}

#regler{
  color: white;
  width: 95%;
  margin-left: auto;
}


.plattformKnapp {
  background-image: url("img/meny/plattformMeny.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 1em;
  border: hidden;
  height: 3.5em;
  width: 30%;


}

.plattformKnapp:hover {

  animation-name: crack;
  animation-duration: 4s;
  animation-iteration-count : 1;
  animation-fill-mode: forwards;
}

.utviklerBilde{
  width: 5em;
}

a:link{
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color:black;
}

a:active {
  color:black;
}

@keyframes crack {
  100% {background-image: url("img/meny/plattformMeny_4.png"); }
  75% {background-image: url("img/meny/plattformMeny_3.png"); }
  50% {background-image: url("img/meny/plattformMeny_2.png"); }
  25% {background-image: url("img/meny/plattformMeny_1.png"); }
  0% {background-image: url("img/meny/plattformMeny.png"); }
}
