html, main {
  height: 100%;
}


body {
  /* Hvis siden er for lang vil dette være bakgrunnsfargen isteden for hvit */
  background-color: #19191B;
  background-image: url("img/bakgrunn/helvete.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container{
  color: white;
}

.boks{
  background-color: #1515147E;
  /*border: 3px solid black;*/
  border-radius: 25px;
  height: 80%;
}

.title{
  padding-top: 0.5em;
  color: white;
}

@media(max-width:1024px){
  .plattformKnapp{
    width: 90%;
  }
}
@media(min-width:1024px){
  .plattformKnapp{
    width: 30%;
  }
}
.plattformKnapp {
  background-image: url("img/meny/plattformMeny.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 1em;
  border: hidden;
  height: 3.5em;
}

.plattformKnapp:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  animation-name: crack;
  animation-duration: 1s;
  animation-iteration-count : 1;
  animation-fill-mode: forwards;
}

.utviklerBilde{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 10em;
}

a:link{
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color:black;
}

a:active {
  color:black;
}

@keyframes crack {
  100% {background-image: url("img/meny/plattformMeny_4.png"); }
  75% {background-image: url("img/meny/plattformMeny_3.png"); }
  50% {background-image: url("img/meny/plattformMeny_2.png"); }
  25% {background-image: url("img/meny/plattformMeny_1.png"); }
  0% {background-image: url("img/meny/plattformMeny.png"); }
}
