/*.header {
  padding: 30px;
  text-align: center;
  background-image: url(Header.jpg);
  color: white;
  font-size: 30px;
}*/


/*Skjuler grensen på knappene*/
.button
{
 border: hidden;

}
/* Formatering av tekst*/
.text{
  font-family: 'Press Start 2P';
  font-size: 12px;
  position:absolute;
  top:25vh;


}

.h1{
  font-family: 'Press Start 2P';
  font-weight: bold;
  font-size: 20px;

}

#bakgrunn {
  background-color: wheat;
  width:25vw;
  height:50vh;
  position: relative;
}

#webside{
 position: relative;
 height: 800px;
 width: 600px;
 top:5vh;
 left:25vw;
 right:25vw;

}

#tittel{
font-size: 20px;
font-weight: bold;
text-align: center;
position: absolute;;
top: 400px;
left: 170px;


}

#startspillet
{
background: url(img/startspillet.png);
height: 41px;
width: 140px;
position:absolute;
top:200px;
left:240px;


}


#spilleregler
{
background: url(img/spilleregler.png);
height: 41px;
width: 140px;
position:absolute;
top:400px;
right:0px;



}

#historie
{
background: url(img/historie.png);
height: 41px;
width: 140px;
position:absolute;
top:400px;
left:0px;

}

#utviklerne
{
background: url(img/utviklerene.png);
height: 41px;
width: 140px;
position:absolute;
bottom:200px;
left:240px;

}
#figur
{
height: 200px;
width: 150px;
position:absolute;
top:200px;
right:10px;

}
#tilbake
{
background: url(img/tilbake.png);
height: 41px;
width: 140px;
position: absolute;
bottom:0px;
left:0px;
}

#csebastian{
  height: 141px;
  width:600px;
  position: relative;
  top:40

}
#sebastian{
  height: 141px;
  width: 70px;
  position: absolute;
  left:0px;
}
#tsebastian{
position: absolute;
text-align: auto;
height: 144px;
width: 530px;
left: 70px;
}
#cheidrun{
  height: 141px;
  width: 600px;
  position: relative;
}
#heidrun{
  height: 141px;
  width: 70px;
  position: absolute;
  right:0px;
}
#theidrun{
  position: absolute;
  text-align: auto;
  height: 141px;
  width: 530px;
  right:70px;
}

#cellinor{
  height: 141px;
  width: 600px;
  position: relative;
}

#ellinor{
  height: 141px;
  width: 70px;
  position: absolute;
  left:0px;

}
#tellinor{
  position: absolute;
  text-align: auto;
  height: 141px;
  width: 530px;
  left: 70px;
}

#csebastian4{
  height: 141px;
  width: 600px;
   position: relative;
}
#sebastian4{
  height: 141px;
  width: 70px;
  position: absolute;
  right:0px;
}
#tsebastian4{
  position: absolute;
  height: 141px;
  width: 530px;
  left:0px;
}

#csebastian5{
  height: 141px;
  width: 600px;
   position: relative;
}
#sebastian5{
  height: 141px;
  width: 70px;
  position: absolute;
  left:0px;
}
#tsebastian5{
  position: absolute;
  height: 141px;
  width: 530px;
  left: 70px;
}

#uttekst{
top:0px;
}
